/* Color variables */
:root {
  --purple: #c271ff;
  --white: #ffffff;
  --navy-blue: #071629;
  --text-color: rgba(7, 22, 41, 0.31);
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Source Sans 3", sans-serif;
  margin: 0;
  font-size: 16px;
}

.container {
  padding: 0 156px;
}

header {
  padding-top: 2rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  font-weight: bold;
  text-transform: uppercase;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}
nav ul li a {
  color: var(--white);
  text-decoration: none;
}

.hero-section {
  background-image: url(./images/hero_background.png);
  background-size: cover;
  color: var(--white);
  padding-bottom: 3rem;
}
.cta {
  text-align: center;
  padding-top: 10.7rem;
}

.cta h1 {
  font-size: 7.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.cta span {
  font-size: 1rem;
  font-weight: bold;
  margin-right: 2rem;
  text-align: center;
}

.btn {
  display: block;
  margin: 3rem auto;
  padding: 1rem 1.5rem;
  border-radius: 25px;
  border: none;
  background: var(--purple);
  font-weight: 600;
  font-size: 0.9rem;
  color: var(--white);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
}

.pros {
  display: flex;
  justify-content: space-between;
}
.pros-container {
  margin-top: 10rem;
}

.pros-heading {
  text-align: center;
  font-weight: 100;
  margin-bottom: 3rem;
}
.pros-heading span {
  font-weight: bold;
  color: var(--purple);
}
.pros-avatar {
  border-radius: 50%;
}
.pros-profile {
  text-align: center;
  width: 200px;
}
.pros-profile p {
  font-style: italic;
}
