:root {
  --deep-navy: #1e3a8a;
  --light-grey: #f3f4f6;
  --dark-grey: #111827;
  --teal: #06b6d4;
  --border-grey: #d1d5db;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}
body,
main {
  display: flex;
}

body {
  flex-direction: column;
}
main {
  flex-direction: row;
  flex: auto;
}
article {
  flex: 2;
}
aside {
  flex: 1;
}
article,
aside {
  overflow-y: auto;
}
